---
layout: default
title: Athens 2015
permalink: /events/athens2015/
event_date: 2015-12-01
event_date_string: December 1-3rd 2015
event_location: Athens, Greece
event_summary: A three days workshop with invited participants from more than 15 different free software projects!
---

<h1>{{ page.title }}</h1>

<p>{{ page.event_date_string }}</p>
<p>{{ page.event_summary }}</p>

<h2>Goals</h2>

<p>
  The exact content of the meeting is going to be shaped by the
  participants, but here are the main goals:
</p>

<ul>
  <li>Update &amp; exchange about the status of reproducible builds in various projects.</li>
  <li>Improve collaboration both between and inside projects.</li>
  <li>Help kick-start reproducible builds in other projects.</li>
  <li>Work together and hack on solutions.</li>
  <li>Brainstorm designs on tools enabling end-users to get the most benefits from reproducible builds.</li>
</ul>

<h2>Reports</h2>

<ul>
  <li><a href="{{ "/events/athens2015/agenda/" | relative_url }}">Meeting agenda and complete minutes</a></li>
  <li><a href="/files/AspirationOTFCommunityLabReproducibleBuildsSummitReport.pdf">Report by Aspiration / Open Technology Fund Community lab</a></li>
  <br />
  <li><a href="https://www.joachim-breitner.de/blog/688-Reproducible_Builds_World_Summit">Joachim Breitner, Debian</a></li>
  <li><a href="https://blog.torproject.org/blog/tor-reproducible-builds-workshop-athens-2015">Georg Koppen, Tor Project</a></li>
  <li><a href="https://guardianproject.info/2015/12/09/first-reproducible-builds-summit/">Hans-Christoph Steiner, The Guardian Project</a></li>
  <li><a href="https://lists.macosforge.org/pipermail/macports-dev/2015-December/032016.html">Clemens Lang, MacPorts</a></li>
  <li><a href="https://lists.fedoraproject.org/archives/list/devel%40lists.fedoraproject.org/message/DECB4Z2ZSLHPX4W3QPDEPHGWF6PJEII3/">Dhiru Kholia, Fedora</a></li>
  <li><a href="https://lists.gnu.org/archive/html/gnu-system-discuss/2015-12/msg00000.html">Ludovic Courtès, GNU</a></li>
  <li><a href="https://lists.gnu.org/archive/html/guix-devel/2015-12/msg00107.html">Ludovic Courtès, Guix</a></li>
  <li><a href="https://blog.netbsd.org/tnf/entry/reproducible_builds_conference_in_athens">Thomas Klausner, NetBSD</a></li>
</ul>

<h2>Participants</h2>

<p>
  Represented projects: Arch Linux, baserock, Bazel, coreboot, Debian,
  F-Droid, Fedora, FreeBSD, Google, Guardian Project, Guix, Homebrew,
  MacPorts, NetBSD, NixOS, OpenWrt, Qubes, Tor.
</p>

<h2>Location</h2>

<p>
  <a href="https://athens.impacthub.net/">Impact HUB Athens</a><br />
  <a href="https://www.google.com/maps/place/Impact+Hub+Athens/@37.9781661,23.7243381,19z">Καραϊσκάκη 28</a> (Karaiskaki 28) <br />
  10554 Αθήνα, Ελλάδα (Athens, Greece)
</p>

<h2>Sponsors</h2>
<p>
  <a href="https://www.coreinfrastructure.org/"><img style="vertical-align: top;" src="{{ "/images/logos/cii.png" | relative_url }}" alt="Core Infrastructure Initiative" /></a>
  <a href="https://research.google.com/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/google.png" | relative_url }}" alt="Google Open Source Research" /></a>
  <a href="https://opentech.fund/"><img style="margin: 0px 14px; vertical-align: top;" src="{{ "/images/logos/opentechfund.png" | relative_url }}" alt="Open Technology Fund"/></a>
</p>
